Ansible/.vagrant/
Docker/.vagrant/
Ftp/.vagrant/
Grafana/.vagrant/
Jenkins/.vagrant/
Kubernetes/.vagrant/
Salt/.vagrant/
Sensu/.vagrant/
Test1/.vagrant/
Testing/.vagrant/
Ubuntu/.vagrant/
test-cent/.vagrant/
Python/.vagrant
worker1/.vagrant
worker2/.vagrant
pxe/.vagrant
win/.vagrant